<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite name="TestSuite1" >
         
  <test name="TestCases1" parallel="classes" thread-count="3">
	 <classes>
	   <class name="automationassignment.TestCase1"/>
	   <class name="automationassignment.TestCase1Bonus"/>
	 </classes>
   </test>
   
   
        
  <test name="TestCase2" parallel="classes" thread-count="3">
	 <classes>
	   <class name="automationassignment.TestCase2"/>
	   <class name="automationassignment.TestCase2Bonus"/>
	 </classes>
   </test>
   
   
</suite>